*::before,*::after {
	box-sizing: border-box;
}

/* Container  */
.container{
    margin: 0px auto;
    max-width:1100px;
    padding: 0px 2rem;
}

/* Hover  */


body button {
    border:none;
}
body a{
    text-decoration: none;
}
body a:hover{
    color: wheat;
}
body button:hover {
    color: wheat;
    background-color:#ea553396 ;
}
/*   flex */

.text-center {
    text-align: center;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-start {
    justify-content: flex-start;
}
.justify-center{  
    
    align-content: center;   
    justify-content: center;
}

/*  header  */
header {
    max-width: 100%;
}
.head-one {
    background-color: $primary;
    padding: 0.2rem 0;
    a{
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
    }
    i{
        color: white;
        font-size: 0.9rem;
    }
}
.head-two {
    background-color: $colorgrey;
    padding: 0rem 0;       
    a{
        color: $secondary;
        font-size: 1rem;
        font-weight: 500;
    }
    h2{
        font-size: 2rem;
        font-weight: 800;
        color: $primary;   
        padding: 0.5rem 0;     
        span {
            color: $secondary;
        }
    }
}
.nav-head {
    align-items: center;
    .home{
        background-color: $primary;
        padding: 1.2rem 0.7rem;
    }
}
.head-one,.head-two {
    li{
        margin-right: 1.5rem;
    }
}
.menu {
    position: relative;
    display: inline-block;
    &:hover .drop-menu {
        display: inline-block;
    }
}

.drop-menu{
    padding: 0.9rem 2rem;
    position: absolute;
    width:100px;
    background-color:$colorgrey;
    display: none;
    transform:translateX(-40%) ;
    left: 50%;
    top: 19px;  
    li{
        margin: 0.6rem 0;
    }
}


/*  width / flex sizes  */
.width-45{
    flex: 0 1 45%;
}
.width-30{
    flex: 0 1 30%;
}
.width-20{
    flex: 0 1 20%;
}
.width-35{
    flex: 0 1 35%;
}
.width-50{
    flex: 0 1 50%;
}
